.music{
    background: rgb(241, 235, 235, 0.4);
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}
.music1{
    background-color: rgb(245, 245, 8);
    border-radius: 50%;
    margin: 0 25px;
    padding: 10px;
}
.music2{
    padding-top: 10px;
}
.music3{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    line-height: 30px;
    gap: 1rem;
}
.music3 span:nth-child(2){
    background: rgb(250, 250, 7);
    color: black;
    padding: 15px;
    border-radius: 30%;
    font-size: 30px;
}
.music3 span{
    background: black;
    padding: 7px;
    border-radius: 30%;
    font-size: 15px;
    display: flex;
    align-items: center;
    height: 20px;
}
.music4{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 10px;
}
